/out/
/resources/public/js/compiled/
/target/
/*-init.clj
/*.log
/.idea/
# Leiningen
/.lein-*
/.nrepl-port

.DS_Store
# Node.js dependencies
/node_modules/

# shadow-cljs cache, port files
/shadow-cljs.edn
/.shadow-cljs/

# clj-kondo cache
/.clj-kondo/.cache
